<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ca105g4">

    <uses-permission android:name="android.permission.INTERNET" />              <!-- 允許裝置可以上網 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  <!-- 允許裝置可以存取網路狀態 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"> <!-- 拿掉action -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->

        <activity android:name=".member.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.HomeActivity" />
        <activity android:name=".map.MapActivity" />
    </application>

</manifest>